body {
 background-image: url('test.png');
}
@media screen {
.message {
 color: #333;
}
.success {
 color: red;
}
}
@media screen and (min-width: 100px) {
.message {
 color: black;
}
.success {
 color: white;
}
}
