nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    color: #ff00ff;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

nav.test {
    color: #ff0000;
}

nav:hover {
    color: #ffff00;
}

.table tbody tr.warning td {
    background-color: #faedbb;
}